{% extends "base.html.twig" %}

{% block main %}

<div class="alert alert-dark" role="alert">
	<h4 class="alert-heading">Le résultat de la recherche {{ term }} est :</h4>
  	<hr>
	  <p> 
  		{% for car in cars %}
			<h2>{{ car.name }}</h2> 
			<p>{{ car.description }}</p>
		{% endfor %}
	</p>
</div>


{% endblock %}